.container {
    position: relative;
}

table{
    border-spacing: 0;
}

tr:hover {
    background: #ccc;
}

td {
    width: 20px;
    padding: 3px;
}
td:hover:after {
    width: 20px;
}
td:hover {
   /*background: green; */
    font-weight: bold;
}
td:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #ccc;
    z-index: -1;
}