/* общий стиль страницы  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    background-color: #f5f0d8;
}

/* стили контейнеров сдайдера */
.wrapper {
    height: 350px;
    margin: 100px auto 0;
    posittion: relative;
    width: 700px;
}

.slider {
    background-color: #eee;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
/*скрываем инпут*/
.wrapper > input {
    display: none;
}

/* прописываем общий стиль слайдов, затем каждый отдельно */
/*slides можно удалить после оживления слайдов*/
.slides {
    height: inherit;
    position: absolute;
    width: inherit;
}

.slide1 {
    background-color: #f5f0d8;
}
.slide2 {
    background-color: aliceblue;
}

/*оформляем лейблы*/
.wrapper .controls {
    margin-left: auto;
    text-align: center;
}

.wrapper label {
    padding: 5px;
    margin-right: 50px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}


/* закрашиваем выбранный переключатель*/
.wrapper label:hover {
    color: blue;
}
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2)
 {
    font-weight: bold;
}

/*оживляем слайдер*/
.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 3;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2{
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}